<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Designed by <a href="">fnmn</a>.
      </p>
    </div>
  </footer>
</template>
<script>
  export default {
    data() {
        return{}
    }
  }

</script>
