<template>
  <div>
    <section>
      <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <nuxt-link class="navbar-item" to="/">
             <!-- <img src="logo.svg" width="150"> --> 
              <div class="logo-svg"></div>
            </nuxt-link>

            <a id="navBurger" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
              data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <div class="navbar-item yo" v-on:click="remove_active">
                <nuxt-link class="navbar-item nuxt-link" to="/"> Главная</nuxt-link>
              </div>
              <div class="navbar-item yo" v-on:click="remove_active">
                <nuxt-link class="navbar-item nuxt-link" to="/uslugi">Услуги</nuxt-link>
              </div>
              <div class="navbar-item yo" v-on:click="remove_active">
                <nuxt-link class="navbar-item nuxt-link" to="/pravo">Право</nuxt-link>
              </div>
              <div class="navbar-item yo" v-on:click="remove_active">
                <nuxt-link class="navbar-item nuxt-link" to="/nalogi">Налоги</nuxt-link>
              </div>
              <div class="navbar-item yo" v-on:click="remove_active">
                <nuxt-link class="navbar-item nuxt-link" to="/cadry">Кадры</nuxt-link>
              </div>
              <div class="navbar-item yo" v-on:click="remove_active">
                <nuxt-link class="navbar-item nuxt-link" to="/audit">Аудит</nuxt-link>
              </div>
              <div class="navbar-item yo" v-on:click="remove_active">
                <nuxt-link class="navbar-item nuxt-link" to="/partnery">Помощь в проекте</nuxt-link>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-item yo" v-on:click="remove_active">
                <a class="navbar-item nuxt-link">
                  <img src="insta-pink.png" alt="">
                </a>
              </div>
              <div class="navbar-item yo" v-on:click="remove_active">

                <a class="navbar-item nuxt-link">
                  <img
                    src="wtsapp_icon.png"
                    alt="">
                </a>
              </div>

            </div>
          </div>
        </div>
      </nav>

    </section>
  </div>

</template>


<script>
  export default {
    data() {
      return {}
    },

    mounted: function () {
      const $navbarBurgers = document.querySelectorAll('.navbar-burger')
      const $navbarItems = document.querySelectorAll('.navbar-item')
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            const target = el.dataset.target;
            const $target = document.getElementById(target);

            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }
    },
    methods: {
      remove_active() {
        let navMenu = document.getElementById('navbarBasicExample')
        let navbarBurgers = document.getElementById('navBurger')
        navbarBurgers.classList.remove('is-active')
        navMenu.classList.remove('is-active')
        console.log('removed!')
      }
    }
  }

</script>

<style>
  .navbar {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 21;
  }

  .navbar-item {
    transition: .2s;
  }

  .nuxt-link {
    height: 100%;
    width: 100%;
  }

  .yo {
    padding: 0;
    
  }
  .logo-svg{
    width: 150px;
    height: 40px;
    background-image: url(/logo.svg);
  }

</style>
