
@import 'bulma/sass/utilities/_all.sass';

$navbar-height:4.5rem;
$dropdown-menu-min-width: 100%;
$navbar-box-shadow-size: 0 5px 0 0;
$navbar-item-color: rgb(192, 192, 192);
$navbar-item-hover-color:rgb(235, 235, 235);
$navbar-item-hover-background-color:rgb(42, 42, 42);
$navbar-background-color:$dark;

$footer-background-color: $grey-dark;
$footer-color: grey;


.wrapper{
  padding: calc(64px + 24px) 12px;
  min-height: calc(100vh - 64px - 96px - 48px);
}

.button{
  transition: .15s;
}
.button:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}


.comp-enter-active{
  transition: all .3s ease-out;
}
.comp-leave-active{
  transition: all .0s;
}
.comp-leave{
  display: none;
}
.comp-enter, .comp-leave-to{
  opacity: 0;
}

.select-1{
  margin: 5px 0;
}

@import "~bulma";

html{
  background-color: $grey-dark; 
}
body{
  color: black;
}
