<template>
  <div>
    <nav-bar />
    <nuxt />
    <footer_ />
  </div>
</template>

<script>
  import NavBar from '@/components/NavBar.vue'
  import Footer_ from '@/components/Footer.vue'
  import axios from 'axios'

  export default {
    data() {
      return {}
    },
    head: {
      meta: [{
          charset: 'utf-8'
        },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1'
        }
      ],
      link: [{

      }],
      script: [{}]
    },

    components: {
      NavBar,
      Footer_
    },

    transition: 'page'
  }

</script>
