<template>
  <div style="margin-top:64px;">

    <section class="hero is-dark is-medium">
      <div class="hero-body background-logo">
        <div class="container">
          
          <h1 class="title has-text-centered">
            Добро пожаловать!
          </h1>
          <h2 class="subtitle has-text-centered">
            Приветствуем вас на нашей странице. Здесь вы можете получить полезную информацию на очень важные для
            предпринимателя темы:
          </h2>
          <div class="subtitle has-text-centered"><a href="/"
              class="button is-warning nuxt-link-exact-active nuxt-link-active"><b>Подробнее</b></a></div>
        </div>
      </div>
     
    </section>
  
      <div class="wrapper">
        <div class="container">
          <div style="">
            <div class="c-card-wrapper">

              <div class="c-card" v-for="card in cards" :key="card.id">
                <div class="c-card-content">
                  <div class="c-card-title title">{{card.title}}</div>
                  <div class="c-card-text">{{card.text}}</div>
                </div>
                <div class="c-card-footer">
                  <div class="button is-medium is-fullwidth is-dark" @click="card.showModal = true">Подробнее</div>
                </div>

                <modal v-if="card.showModal" @close="card.showModal = false">
                  <div slot="header" class="modal-card-title">{{card.title}}</div>
                  <div slot="body">
                    <p class="modal-p" v-for="item in card.modal.text" :key="item.id">
                      {{item}}
                    </p>

                  </div>
                </modal>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import Modal from '@/components/Modal.vue'
  export default {
    components: {
      Modal
    },
    methods: {

    },
    data() {
      return {
        //showModal: false,
        cards: [{
            title: "Добро пожаловать",
            text: "Приветствуем вас на нашей странице. Здесь вы можете получить полезную информацию на очень важные для предпринимателя темы: ",
            modal: {
              text: ["✔️Бухгалтерские нюансы и тонкости. Как вовремя и без штрафов подавать отчётность. ",
                "✔️Кадровый учёт. Как работать персоналом, не нарушая закона.",
                "✔️ Юридические вопросы. Как и когда регистрировать ИП и ООО. Что важно знать и какая цена у ошибок. ",
                "✔️ Налогообложение. Как законно сократить налоги и упростить себе жизнь. ",
                "✔️Как выбрать себе грамотного специалиста в этих сферах и работать с ним максимально продуктивно. ",
                "                                                                                                          ",
                "И многое другое полезное начинающим и продолжающим предпринимателям. Подписывайтесь, обещаем много пользы."
              ],
            },
            showModal: false
          },
          {
            title: "Чем мы можем быть вам полезны",
            text: "Чтобы получить бесплатную консультацию переходите по активным ссылкам в наши соцсети",
            modal: {
              text: [
                "🔷Постановка, ведение и восстановление бух.учета для ИП и ООО",
                "🔷Составление отчетности",
                "🔷Консультации по бух.учету",
                "🔷Юридические консультации",
                "🔷Кадровый учет и расчет ЗП",
                "🔷Оптимизация налогообложения",
                "🔷Регистрация ИП, ООО, АО,НП под ключ"
              ],
            },
            showModal: false
          },
          {
            title: "Просто о сложном",
            text: "🤓Знаете, что отличает настоящего профессионала своего дела? Он умеет рассказать о своем предмете так, что будет понятно даже новичку.",
            modal: {
              text: [
                "Сфера бухгалтерского учета кажется многим предпринимателям сложной и, если честно, то это действительно так. Это целая наука, в которой масса тонкостей.",
                ".",
                "На этой странице мы будем рассказывать об основных процессах, терминах, требованиях и прочих сложных бухгалтерских нюансах простым, человеческим языком.",
                ".",
                "🔹Что нужно делать, чтобы работать в рамках закона и выгодно для себя.",
                "🔹А чего категорически не стоит делать.",
                "🔹На что обращать внимание, как разделить важное и второстепенное.",
                "🔹Эти и многие другие вопросы мы будем освещать в этом аккаунте.",
                ".",
                "Большинство проблем возникает по незнанию. Что ж, учению свет 😉",
                ".",
                "Переходите по нашим ссылкам и подпишитесь, чтобы не пропустить полезные материалы как для начинающих, так и для опытных предпринимателей."
              ],
            },
            showModal: false
          },
          {
            title: "Правилльный бухгалтер это...",
            text: "Как определить, что ваш бухгалтер или кандидат на эту должность и правда хорош? Вот несколько качеств хорошего специалиста:",
            modal: {
              text: [
                "ПОРЯДОК Он содержит в порядке все первичные документы, занося их в базу. При возникновении вопросов он может быстро и без затруднений ответить, откуда взялись те или иные цифры.",
                "АКТИВНОСТЬ Он держит руку на пульсе и всегда в курсе всех изменений в налоговом законодательстве. Он постоянно предлагает вам новые способы сократить налоговое бремя.",
                "ИНТЕРЕС Он задает очень много вопросов, постоянно интересуется ситуацией, особенно на старте работы, буквально не дает вам покоя. Ему важно владеть информацией, чтобы действовать своевременно и четко.",
                "ДИПЛОМАТИЧНОСТЬ Он умеет находить общий язык с людьми, а особенно с налоговой 😊 Чрезвычайно важное качество.",
                "ВНИМАТЕЛЬНОСТЬ Он никогда ничего не принимает на веру, всегда проверяет информацию.",
                "НАДЕЖНОСТЬ И СИМПАТИЯ Бухгалтер – это человек, который знает о вашей компании все и даже больше. Логично предположить, что на этой должности должен быть человек, который симпатичен вам и вызывает доверие. Верьте не только его резюме, но и своему ощущению. Это должен быть ВАШ человек.",
                ".",
                "Можно искать самим ценой времени и ошибок, а можно обратиться к профессионалам, которые подберут вам самого подходящего вам специалиста.",
                ".",
                "У нас в компании только хорошие специалисты, других просто не бывает 😊 Пишите, чтобы убедиться в этом самим."
              ],
            },
            showModal: false
          },
          {
            title: "Отчетность. Чем грозят нарушения?",
            text: "Стоит быть особенно внимательными к оформлению соответствующей документации и знать, чем грозят нарушения.",
            modal: {
              text: [
                "Для начала давайте разберемся, что же считается нарушениями: • сокращение суммы сборов и налогов на сумму более 10%; • искажение каких-либо показателей отчетности, указанных в денежном измерении, на сумму более 10%; • регистрация каких-либо объектов бухгалтерского учета несуществующих объектов; • введение бухгалтерских счетов вне используемых регистров; • оформление отчетности на основании той информации, которой нет в регистрах; • отсутствие первичной учетной документации или отсутствие ее хранения на протяжении установленных сроков.",
                ".",
                "За подобные нарушения предусмотрены штраф от 5000 до 10 000 руб. При повторном нарушении от 10 000 до 20 000 руб. При этом срок давности будет увеличен. Если раньше наказание могли накладывать только в течение трех месяцев с момента обнаружения нарушения, то сейчас это могут сделать на протяжении двух лет.",
                ".",
                "Самым нежелательным для расчетного специалиста является нарушение бухгалтерского учета, ведь в соответствии со статьей 120 Налогового кодекса штраф по этому нарушению составляет от 10 000 до 30 000 рублей. А если нарушение привело к сокращению налогооблагаемой базы, штраф может составлять 20% от недоплаты, а его минимальный размер составляет 40 000 рублей. Мало приятного, согласны?",
                ".",
                "К категории грубых нарушений относятся все неточности или ошибки в бухгалтерской отчетности, если по причине такого искажения произошло сокращение суммы налогообложения более чем на 10%, а также если само по себе искажение денежных сумм произошло более чем на 10%. Также к грубым нарушениям относится указание мнимого объекта бухгалтерского учета, то есть несуществующего объекта, указанного в бухгалтерской отчетности только для вида. Также сюда входят нереализованные расходы, обязательства или же факты из хозяйственной деятельности компании.",
                ".",
                "Будьте внимательны и следите за обновлениями в законодательстве, чтобы не допустить ошибок и их неприятных последствий.",
              ],
            },
            showModal: false
          },
          {
            title: "Почему удаленный бухгалтер лучше?",
            text: "Удаленная бухгалтерия уже давно успешно используется за рубежом. Причем к услугам таких специалистов прибегают не только мелкие, но и довольно крупные компании. Удаленный бухгалтер - это отличная альтернатива штатному. Давайте разберемся почему.",
            modal: {
              text: [
                "🔷ОПЫТ",
                ".",
                "Удаленные сотрудники, как правило, ведут несколько компаний, что существенно расширяет круг их профессионального опыта. Если возникает какая-то сложность, то удаленный бухгалтер уже скорее всего сталкивался с подобным и знает, как действовать.",
                ".",
                "🔷ВЫГОДНО",
                ".",
                "Вы экономите на отпусках, больничных, декретных, других пособиях и т.д. С удаленным бухгалтером у вас не возникнет такой необходимости. К тому же, если посчитать реальное время, которое штатный сотрудник продуктивно работает, то окажется, что большую часть времени вы платите за его досуг на территории вашего офиса. Удаленному сотруднику вы платите за результат, а не за просиживание штанов.",
                ".",
                "🔷ПРОСТО",
                ".",
                "Вы избавлены от волокиты с документами при найме, увольнении и при прочих подобных кадровых вопросах. Потраченные на это трудочасы оплачиваются из вашего кармана. С удаленным бухгалтером все это вас благополучно минует.",
                ".",
                "🔷ЭФФЕКТИВНО",
                ".",
                "Во-первых, при работе с компанией, оказывающей бухгалтерские услуги удаленно, вы заключаете договор, где прописываете все нюансы услуг, которые хотите получить. Во-вторых, такие компании очень дорожат репутацией, соответственно дают вам тот уровень качества услуг, чтобы вы были довольны и рекомендовали их своим знакомым. В-третьих, им требуется каждый месяц проявлять себя так, чтобы вам захотелось продолжать работу с ними. У штатного бухгалтера мотивации так выкладываться нет. Ему достаточно не делать того, за что его могут уволить.",
                ".",
                "Каждая компания индивидуальна и решение о том, как построить работу, принимать только вам. Если у вас есть сомнения, подойдет ли вам формат работы с удаленным бухгалтером, то напишите нам. Консультация бесплатно. Переходите по активной ссылке в описании профиля и попадете прямо в чат с нашим сотрудником."
              ],
            },
            showModal: false
          },
          {
            title: "ИП или ООО",
            text: "Такой вопрос возникает у большинства начинающих предпринимателей. Какие же основные отличия? Давайте разберемся.",
            modal: {
              text: [
                "ИМУЩЕСТВЕННАЯ ОТВЕТСТВЕННОСТЬ.",
                ".",
                "ИП отвечает за деятельность своим имуществом. Причем нет разделения на имущество компании и личное. В случае проблем может быть взыскано и то, чем человек владел до начала бизнеса. ООО отвечает только средствами фирмы. Только в особо сложных ситуациях, когда речь идёт о банкротстве, может быть рассмотрен вопрос о конфискации имущества учредителей.",
                ".",
                "ПРОЦЕДУРА РЕГИСТРАЦИИ.",
                ".",
                "Зарегистрировать ООО можно как на одно, так и на несколько лиц (до 50). ИП только одно физическое лицо.",
                ".",
                "Для открытия ИП в налоговую инспекцию необходимо подать всего 3 документа: заявление на регистрацию, квитанцию об оплате госпошлины и копию паспорта. Для ООО пакет документов в 2 раза больше.",
                ".",
                "Госпошлина для ИП составляет 800 рублей, а для ООО – 4 000 руб.",
                ".",
                "В течение 4-х месяцев после регистрации ООО необходимо внести уставной капитал в размере не менее 10 000 рублей. ИП этого делать не нужно.",
                ".",
                "НАЛОГИ.",
                ".",
                "На УСН, ЕНВД и ЕСХН налоговые ставки для ИП и ООО одинаковые. Единственное различие предусмотрено общей системой, где налог на прибыль для организаций равен 20%, а подоходный налог для ИП составляет 13%. Патентную систему имеют право использовать только ИП.",
                ".",
                "ОГРАНИЧЕНИЯ ПО ВИДАМ ДЕЯТЕЛЬНОСТИ ДЛЯ ИП И ООО",
                ".",
                "ИП нельзя заниматься некоторыми видами деятельности.",
                ".",
                "К наиболее распространенным из них относятся: Производство и торговля алкоголем (за исключением пива); Услуги страхования; Банковская деятельность; Инвестиционные фонды; Деятельность ломбардов; Туроператорская деятельность (при этом можно оказывать услуги турагента); Производство лекарственных средств;",
                ".",
                "Для ООО таких ограничений нет.",
                ".",
                "ВЫВОД ДЕНЕГ ИЗ БИЗНЕСА.",
                ".",
                "Для ИП такой проблемы не существует. Все деньги, которые он зарабатывает, считаются его собственными и поэтому он может в любой момент времени забрать их.",
                ".",
                "С ООО ситуация сложнее. Заработанные деньги считаются собственностью компании и есть специальные способы и порядок их выведения. Процедура сложнее.",
                ".",
                "Продолжение следует..."
              ],
            },
            showModal: false
          },
          {
            title: "ИП или ООО. Часть 2.",
            text: "Продолжаем темы разницы между этими юридическими формами.",
            modal: {
              text: [
                "ЮРИДИЧЕСКИЙ АДРЕС.",
                ".",
                "С ИП все просто, можно использовать при регистрации свой адрес места жительства. Работать он при этом может по всей территории России, без ограничений. Но отчетность подаётся по месту регистрации, это важно помнить. У ООО схема сложнее. Нужно купить/арендовать помещение, либо прибегнуть к услугам специализированной компании и использовать массовый адрес. Стоит быть осторожным с выбором компании для второго способа. В крайнем случае можно использовать в качестве юридического адреса адрес учредителя или ген.директора. Это официально не запрещено законом, но случались случаи отказа в регистрации при таком способе.",
                ".",
                "СТРАХОВЫЕ ВЗНОСЫ.",
                ".",
                "ИП и ООО обязаны платить взносы за медицинскую страховку и обязательное пенсионное страхование. Отличия только в том, что у ИП суммы фиксированные.",
                ".",
                "ОТЧЕТНОСТЬ.",
                ".",
                "ИП обязаны сдавать только налоговую отчетность. ООО налоговую и бухгалтерскую. Отчётность за работников подаётся одинаково.",
                ".",
                "ОТВЕТСТВЕННОСТЬ И ШТРАФЫ.",
                ".",
                "Ответственности у ООО гораздо больше, чем у ИП. Штрафы и наказания за административные нарушения, как правило, существенно больше, чем для ИП. За налоговые - идентичны.",
                ".",
                "ПРОЦЕДУРА ЗАКРЫТИЯ.",
                ".",
                "С ИП в этом смысле все просто. Подаётся заявление в ИФНС о прекращении деятельности и оплачивается гос пошлина в размере 160 руб. ООО же для ликвидации придется пройти сложную, многоступенчатую процедуру.",
                ".",
                "У каждой из форм свои плюсы и минусы. Взвесьте все и обдумайте перед тем, как принимать решение."
              ],
            },
            showModal: false
          },
          {
            title: "Системы налогооблажения",
            text: "По состоянию на 2019 год для российских индивидуальных предпринимателей и организаций предусмотрено 5 режимов налогообложения:",
            modal: {
              text: [
                "🔷1 общий ОСН (общая система налогообложения)",
                ".",
                "🔷4 специальных",
                ".",
                "🔹УСН (упрощенная система налогообложения);",
                "🔹ЕНВД (единый налог на вмененную деятельность)",
                "🔹ЕСХН (единый сельскохозяйственный налог) ",
                "🔹ПСН (патентная система налогообложения)",
                ".",
                "В следующих карточках мы более подробно рассмотрим каждую из систем, разберемся в выгодах и условиях работы с каждой из них."
              ],
            },
            showModal: false
          },
          {
            title: "Классика ОСНО.",
            text: "ОСН, или общая (стандартная) система налогообложения – это самый сложный режим налогообложения из всех существующих в России.",
            modal: {
              text: [
                "В нем самое большое количество налогов плюс обязанность ведения полного бухгалтерского и налогового учета.",
                ".",
                "На ОСНО по умолчанию переводятся все предприниматели и организации, не определившиеся с выбором системы налогообложения при регистрации, а также те, которые больше не вправе применять ни один из специальных налоговых режимов: УСН, ПСН, ЕНВД и ЕСХН.",
                ".",
                "На ОСНО не распространяются никакие ограничения по видам деятельности, количеству сотрудников, полученным доходам и т.д. Как правило, большинство крупных компаний работает на ОСНО и, как плательщики НДС, предпочитают также работать с теми, кто платит этот налог.",
                ".",
                "☝️В каких случаях применение ОСНО выгодно:",
                "🔷если большая часть контрагентов находится на ОСНО и тем самым заинтересована во «входном» НДС;",
                "🔷при импорте товаров на территорию РФ (уплачиваемый при ввозе товаров НДС можно заявить к вычету);",
                "🔷основная часть деятельности связана с оптовой торговлей;",
                "🔷организация является льготником по налогу на прибыль (например, образовательные учреждения).",
                ".",
                "Если у вас есть вопросы по налогам, то мы с радостью вас проконсультируем. Переходите по ссылкам и попадете прямо в чат whatsapp с нашими специалистами."
              ],
            },
            showModal: false
          },
          {
            title: "УСН. Упрощенка",
            text: "УСНО, УСН, или упрощенка – специальный налоговый режим, который чаще всего является самым выгодным для уплаты налогов и ведения отчетности.",
            modal: {
              text: [
                "По сравнению с другими особыми режимами под действие УСН попадает гораздо большее количество видов предпринимательской деятельности. Применяя УСН, предприниматели и организации платят только один налог в соответствии с самостоятельно заранее выбранной облагаемой базой (6% от доходов или 15% от доходов, уменьшенных на величину расходов).",
                ".",
                "Особенностью УСН, как и любого другого специального режима, является замена основных налогов общей системы налогообложения, одним – единым.",
                ".",
                "На упрощенке НЕ подлежат уплате:",
                "🔹НДФЛ (для ИП)",
                "🔹Налог на прибыль (для организаций)",
                "🔹НДС (кроме экспорта)",
                "🔹Налог на имущество (за исключением объектов, налоговая база по которым определяется как их кадастровая стоимость)",
                ".",
                "УСН сильно упрощает жизнь предпринимателям и в плане затрат и в плане отчетности, поэтому многие выбирают именно такую систему налогообложения.",
                ".",
                "Однако есть ограничения:",
                "➖Лимит дохода по итогам отчетного или налогового периода не превышает 150 000 000 руб.",
                "➖Количество сотрудников менее 100 человек.",
                "➖Стоимость основных средств менее 150 млн. руб.",
                "➖Доля участия других организаций не более 25%.",
                ".",
                "Чтобы получить консультацию по выбору системы налогообложения переходите по активным ссылкам"
              ],
            },
            showModal: false
          },
          {
            title: "ЕНВД. Вмененка",
            text: "Единый налог на вменённый доход – это специальный налоговый режим, который могут применять ИП и организации.",
            modal: {
              text: [
                "В отличие от УСН для ЕНВД фактически полученный доход значения не имеет. Налог рассчитывается, исходя из размера предполагаемого дохода, который устанавливает (вменяет) государство.",
                ".",
                "Особенностью ЕНВД, как и любого другого специального режима, является замена основных налогов общей системы налогообложения одним – единым.",
                ".",
                "На вмененке также не подлежат уплате:",
                "▪️НДФЛ (для ИП)",
                "▪️Налог на прибыль (для организаций)",
                "▪️НДС (кроме экспорта)",
                "▪️Налог на имущество (за исключением объектов, налоговая база по которым определяется как их кадастровая стоимость)",
                ".",
                "Кто имеет право применять ЕНВД?",
                ".",
                "ИП и организации, отвечающие определенным условиям, в частности:",
                "▪️Количество сотрудников не превышает 100 человек",
                "▪️Доля участия других организаций не более 25%, за исключением организаций, чей уставной капитал состоит из вкладов общественных организаций инвалидов.",
                ".",
                "В целом, ЕНВД это довольно привлекательный вид налогообложения. Читайте в следующих постах кому наиболее выгодно работать по такой системе.",
                ".",
                "☝️Обратите внимание! Законопроектом от 2 июня 2016 года действие ЕНВД продлено до 2021 года. Впоследствии указанный режим налогообложения планируется отменить вовсе.",
                ".",
                "В ряде регионов, например, в Москве, ЕНВД не установлен.",
                ".",
                "Чтобы получить бесплатную консультацию по выбору системы налогообложения, переходите по ссылкам и наши специалисты с радостью ответят на ваши вопросы.",
              ],
            },
            showModal: false
          },
          {
            title: "Патентаная система",
            text: "Патентная система налогообложения – это специальный налоговый режим, который могут применять только ИП. Суть данной системы заключается в получении предпринимателем специального документа (патента), дающего ему право на осуществление определенных видов деятельности.",
            modal: {
              text: [
                "Так же как и на ЕНВД, размер реально полученного дохода на патентной системе значения не имеет. Стоимость патента рассчитывается исходя из размера потенциального возможного дохода, который устанавливается государством.",
                ".",
                "Покупая патент, предприниматель освобождается (в отношении тех видов деятельности, по которым он купил патент) от уплаты основных налогов:",
                "🔹НДФЛ",
                "🔹НДС (за исключением таможенного)",
                "🔹налога на имущество (за исключением объектов, налоговая база по которым определяется как их кадастровая стоимость).",
                ".",
                "Применять ПСН имеют право только ИП среднесписочная численность сотрудников (включая работников по гражданским договорам) по всем видам деятельности которых не превышает 15 человек.",
                ".",
                "Рассказать подробнее в чем основные выгоды патентной системы и кому особенно выгодно ее применять?",
                ".",
                "Ну и если у вас есть вопросы относительно любой системы налогообложения, то пишите нам. Наши специалисты с радостью вас прлконсультируют. Это бесплатно.",
              ],
            },
            showModal: false
          }
        ]
      }
    }
  }

</script>

<style>
  .background-logo {
    background: url(/background-logo.svg) -10% 120px no-repeat;

    /*height:100%;
    width:100%;*/
  }

  .header-red-line {
    height: 100px;
    margin-bottom: -100px;
    background: rgb(70, 70, 70); /*#756060;*/
  }

  .header-above-title-box {
    height: 100px;
    background: #75606000;
  }

  .c-card-wrapper {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .c-card {
    min-width: 31%;
    max-width: 31%;
    min-height: 200px;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    margin: 15px 10px;
    padding: 20px;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .c-card-title {
    padding-right: 15px;
  }

  .c-card-footer {
    margin-top: 24px;
    display: block;
  }

  .modal-card-title {
    flex-shrink: 1;
  }

  .modal-p {
    margin: 10px 0;
  }

  @media screen and (max-width: 986px) {
    .c-card {
      min-width: 100%;
      margin: 10px 0;
    }

    .background-logo {

      background-size: 0%;
    }

    .header-red-line {
      height: 100px;
      margin-bottom: -100px;
      background: #363636;
    }

    .header-above-title-box {
      height: 0px;
    }
  }

</style>
