<template>
<div style="margin-top:64px;">

    <section class="hero is-dark is-medium">
      <div class="hero-body logo-for-partnery">
        <div class="container">
          
          <h1 class="title has-text-centered" style="color:#fff!important; text-shadow: 2px 2px 2px #000;">
            Добро пожаловать!
          </h1>
          <h2 class="subtitle has-text-centered" style="color:#fff!important; text-shadow: 2px 2px 2px #000;">
            Приветствуем вас на нашей странице. Здесь вы можете получить полезную информацию на очень важные для
            предпринимателя темы. Партнеры проекта перечисленны ниже.
          </h2>
          <div class="subtitle has-text-centered"><a href="/"
              class="button is-warning nuxt-link-exact-active nuxt-link-active"><b>Подробнее</b></a></div>
        </div>
      </div>
    </section>
      <div style="color: white; display: flex; justify-content: center;">
        Тел. офиса: +7(499)929-55-23
      </div>
      <div style="color: white; display: flex; justify-content: center;">
        Тел. Генерального Директора Замины: +7(985)173-45-45
      </div>
      <div style="color: white; display: flex; justify-content: center;">
        Email Замины: zamina73@mail.ru
      </div>
      <div style="color: white; display: flex; justify-content: center;">
        Наши партнеры:
      </div>
      <div style="color: white; display: flex; justify-content: center;">
        Альфа-Банк
      </div>
      <div style="color: white; display: flex; justify-content: center;">
        <a href="https://alfabank.ru/">https://alfabank.ru/</a>
      </div>
      <div style="color: white; display: flex; justify-content: center;">
        и
      </div>
      <div style="color: white; display: flex; justify-content: center;">
        Точка банк
      </div>
      <div style="color: white; display: flex; justify-content: center;">
        <a href="https://tochka.com/">https://tochka.com/</a>
      </div>
    </div>
</template>

<style>
  .logo-for-partnery {
    background: url(/suka-1.svg) -10% 120px no-repeat;

    /*height:100%;
    width:100%;*/
  }

  .header-red-line {
    height: 100px;
    margin-bottom: -100px;
    background: rgb(70, 70, 70); /*#756060;*/
  }

  .header-above-title-box {
    height: 100px;
    background: #75606000;
  }

  .modal-p {
    margin: 10px 0;
  }

  @media screen and (max-width: 986px) {

    .logo-for-partnery {

      background-size: 0%;
    }

    .header-red-line {
      height: 100px;
      margin-bottom: -100px;
      background: #363636;
    }

    .header-above-title-box {
      height: 0px;
    }
  }

</style>